html {
    scroll-behavior: smooth;
}

.omne {
    position: relative;
    background-color: rgb(248, 248, 248);
    scroll-margin-top: 50px;
    width: 100%;
    height: 40em;
    float:right;
    
}

.omnetitlestrip {
    position: relative;
    background-color: rgb(223, 223, 223);
    text-align: center;
    width: 100%;
    height: 0.1vh;
    float: initial;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.omnetitle {
    position: relative;
    top: 2vh;
    color: black;
    font-weight: bold;
    font-size: calc(1.3rem + 0.5vh + 0.5vw);
}

.omnetextblock {
    position: relative;
    top: calc(2.5em + 2.5vw);
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.omnetext {
    position: relative;
    font-size: calc(0.4rem + 0.5vh + 0.5vw);
    color: black;
    white-space: initial;
    
    z-index: 1;
    
}



.omneimg {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: calc(5em + 5vw);
    width: calc(13rem + 20vh + 20vw);

}

/* preklady */

.preklady {
    position: relative;
    background-color: rgb(247, 247, 247);
    width: 100%;
    float:right;
    height: calc(8rem + 6vh + 6vw);
    min-height: fit-content;
    
    scroll-margin-top: 50px;
    height: -moz-fit-content;
    height: -webkit-fit-content;
}

.prekladytitlestrip {
    position: relative;
    background-color: rgb(223, 223, 223);
    text-align: center;
    width: 100%;
    height: 0.1vh;
    float: initial;
    margin-left: auto;
    margin-right: auto;
}

.prekladytitle {
    position: relative;
    color: black;
    font-size: calc(1.3rem + 0.5vh + 0.5vw);
    font-weight: bold;
    top: 3vh;
}

.prekladytextblock {
    position: relative;
    padding-top: calc(2rem + 3vh + 3vw);;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: calc(5rem + 9vh + 9vw + 10%);
    min-height: fit-content;
}

.prekladytext {
    position: relative;
    font-size: calc(0.4rem + 0.5vh + 0.5vw);
    color: black;
    white-space: initial;
    z-index: 1;
    
}

br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
  }


  /* tlumoceni */
  .tlumoceni {
    position: relative;
    background-color: rgb(247, 247, 247);
    width: 100%;
    float:right;
    height: calc(4rem + 6vh + 6vw);
    min-height: fit-content;
    scroll-margin-top: 50px;
    height: -moz-fit-content;
    height: -webkit-fit-content;
}

.tlumocenititlestrip {
    position: relative;
    background-color: rgb(223, 223, 223);
    text-align: center;
    width: 100%;
    height: 0.1vh;
    float: initial;
    margin-left: auto;
    margin-right: auto;
    
}

.tlumocenititle {
    position: relative;
    color: black;
    font-size: calc(1.3rem + 0.5vh + 0.5vw);
    font-weight: bold;
    top: 3vh;
}

.tlumocenitextblock {
    position: relative;
    padding-top: calc(2rem + 3vh + 3vw);;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: calc(10rem + 15vh + 15vw + 10%);
    min-height: fit-content;
}

.tlumocenitext {
    position: relative;
    font-size: calc(0.4rem + 0.5vh + 0.5vw);
    color: black;
    white-space: initial;
    z-index: 1;
    
}

/* podminky */
.podminky {
    position: relative;
    background-color: rgb(247, 247, 247);
    width: 100%;
    float:right;
    height: calc(4rem + 6vh + 6vw);
    min-height: fit-content;
    scroll-margin-top: 50px;
    height: -moz-fit-content;
    height: -webkit-fit-content;
}

.podminkytitlestrip {
    position: relative;
    background-color: rgb(223, 223, 223);
    text-align: center;
    width: 100%;
    height: 0.1vh;
    float: initial;
    margin-left: auto;
    margin-right: auto;
}

.podminkytitle {
    position: relative;
    color: black;
    font-size: calc(1.3rem + 0.5vh + 0.5vw);
    font-weight: bold;
    top: 3vh;
}

.podminkytextblock {
    position: relative;
    padding-top: calc(2rem + 3vh + 3vw);;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: calc(8rem + 13vh + 13vw + 10%);
    min-height: fit-content;
}

.podminkytext {
    position: relative;
    font-size: calc(0.4rem + 0.5vh + 0.5vw);
    color: black;
    white-space: initial;
    z-index: 1;

    
}


/* reference */
.reference {
    position: relative;
    background-color: rgb(247, 247, 247);
    width: 100%;
    float:right;
    height: calc(4rem + 6vh + 6vw);
    min-height: fit-content;
    scroll-margin-top: 50px;
    height: -moz-fit-content;
    height: -webkit-fit-content;
}

.referencetitlestrip {
    position: relative;
    background-color: rgb(223, 223, 223);
    text-align: center;
    width: 100%;
    height: 0.1vh;
    float: initial;
    margin-left: auto;
    margin-right: auto;
    
}

.referencetitle {
    position: relative;
    color: black;
    font-size: calc(1.3rem + 0.5vh + 0.5vw);
    font-weight: bold;
    top: 3vh;
}

.lefttextph {
    visibility: hidden;
}

.referencetextblock {
    position: relative;
    padding-top: calc(2rem + 3vh + 3vw);
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
}

.referencetext {
    position: relative;
    font-size: calc(0.4rem + 0.5vh + 0.5vw);
    color: black;
    white-space: initial;
    z-index: 1;
    
}

/* kontakty */
.kontakty {
    position: relative;
    background-color: rgb(252, 252, 252);
    width: 100%;
    float:right;
    height: calc(7rem + 6vh + 6vw);
    min-height: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    
}

.kontaktystrip {
    position: relative;
    background-color: rgb(223, 223, 223);
    text-align: center;
    width: 100%;
    height: 0.1vh;
    float: initial;
    margin-left: auto;
    margin-right: auto;
    
}

.kontaktytitle {
    position: relative;
    color: black;
    font-size: calc(1em + 1vw);
    font-weight: bold;
    top: 1.5vh;
}


.kontaktyaddyblock {
    display: grid;
    position: relative;
    padding-top: calc(1rem + 2vh + 2vw);;
    
    grid-column-gap: 5%;
    padding-left: 10vw;
    grid-auto-flow: column;
    
    
}

.address {
    position: initial;
    font-size: calc(0.4rem + 0.5vh + 0.5vw);
    color: black;
    white-space: initial;
    z-index: 1;
    
}

.kontaktybr {
    content: "";
    margin: 0.5em;
    display: block;
    font-size: 24%;
}


.tel {
    position: static;
    font-size: calc(0.4rem + 0.5vh + 0.5vw);
    color: black;
    white-space: initial;
    z-index: 1;
    
}

.kontaktymailblock {
    position: relative;
    width: 70%;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    top: -44%;
}

.mail {
    position: relative;
    font-size: calc(0.4rem + 0.5vh + 0.5vw);
    color: black;
    white-space: initial;
    z-index: 1;
    
}


/* scroll */
#omne {
    margin-top: 0%;
    padding-bottom: 25%;
   } 

.zdroj {
    position: relative;
    width: 50%;

    text-align: right;
    margin-left: auto;
    margin-right: auto;
    top: calc(1rem + 2vh + 2vw);
}

.zdrojtext {
    position: relative;
    font-size: 100%;
    color: black;
    white-space: initial;
    z-index: 1;
    left: 10%;
    top: calc(-8rem + -6vh + -6vw);
}

span {
    color: blue;
}

.denik{
    position: relative;
    background-color: rgb(247, 247, 247);
    width: 100%;
    float:right;
    height: calc(8rem + 23vh + 23vw);
    min-height: fit-content;
    scroll-margin-top: 50px;
}

.denikcz {
    position: relative;
    
    min-height: fit-content;
    
    left: 20%;
    bottom: 0;
    right: 0;
    width: 60%;

    height: calc(3rem + 15vh + 15vw + 10%);
    min-height: fit-content;;
    margin-left: auto;
    margin-right: auto;
}

