@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.phonenav {
    position: fixed;
  
    width: 100%;
    padding: 15px 100px;
    background: #910000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  .phonenav,
  .phonenav .phonenav-links {
    display: flex;
    align-items: center;
  }
  .phonenav {
    justify-content: space-between;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .phonenav .logo {
      position: relative;
    font-size: 20px;
    left: -40px;
    font-weight: 500;
  }
  .phonenav .phonenav-links {
    column-gap: 10px;
    list-style: none;
  }
  .phonenav .phonenav-links a {
    transition: all 0.2s linear;
  }
  .phonenav.openSearch .phonenav-links a {
    opacity: 0;
    pointer-events: none;
  }
  .phonenav .search-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .lang {
      font-size: 120%;
  }

.phonenav {
    visibility: hidden;
}

  /* phone */
@media screen and (max-width: 960px) {
    .phonenav {
        visibility: visible;
    } 
    
    .landing {
    text-align: center;
    position: relative;
    background-color: rgb(247, 247, 247);
    
    width: 100%;

    height: calc(1000px - 15vw)
    
    }

    .lefttext {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    top: calc(-50vh - 15vw);
    left: 0px;
    color: black;
    white-space: initial;
    width: 90%;
    z-index: 0;
    
    
    }

    .bgimg {
        display: block;
        position: relative;
        top: calc(500px - 15vw);
        z-index: 0;
        margin-left: auto;
        margin-right: auto;
        left: -0px;
        
        
        
        
        
    }
}

@media screen and (max-width: 721px) {
    .lefttext {
        top: calc(-390px - 15vw);
    }
}

@media screen and (max-width: 481px) {
    .bgimg {
        display: block;
        position: relative;
        top: calc(550px - 15vw);
        z-index: 0;
        margin-left: auto;
        margin-right: auto;
        left: -0px;

    }
}

@media screen and (max-width: 400px) {
    .bgimg {
        display: block;
        position: relative;
        top: calc(550px - 15vw);
        z-index: 0;
        margin-left: auto;
        margin-right: auto;
        left: -0px;
        width: 100vw;   
    }

    .lefttext {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        font-size: 35px;
        top: calc(100px);
        left: 20px;
        color: black;
        white-space: initial;
        width: 90%;
        z-index: 1;
        align-items: center;
        }
}

@media screen and (max-width: 950px) {
    .omne {
        height: calc(900px - 22vw);
    }
    .omneimg {
        width: 70%;
    }
    .denikcz{
        width: 80vw;
    }
}

@media screen and (max-width: 825px) {
    .tlumoceni {
        height: calc(1500px - 80vw);
    }
    .preklady {
        height: calc(1000px - 70vw);
    }
    .podminky {
        height: calc(1200px - 70vw);
    }
}

@media screen and (max-width: 755px) {
    .kontaktytelblock {
        top: -10px;
        right: -130px;
    }
    .kontaktymailblock{
        top: -14px;
        right: calc(-190px + 30vw);
    }

    .kontaktyaddyblock {
        right: 6vw;
    }
    
}

@media screen and (max-width: 500px) {
    .kontaktytelblock {
        top: -10px;
        right: -100px;
    }
    .kontaktymailblock{
        top: -14px;
        right: calc(-160px + 30vw);
    }

    .kontaktyaddyblock {
        right: 4vw;
    }

    .phonenav .logo {
        position: relative;
      font-size: 17px;
      left: -50px;
      font-weight: 500;
    }
    
}

@media screen and (max-width: 395px) {
    .kontaktytelblock {
        top: 60px;
        right: 10px;
    }
    .kontaktymailblock{
        top: 54px;
        right: calc(-60px + 30vw);
    }

    .kontaktyaddyblock {
        left: 12vw;
    }
    .phonenav .logo {
        position: relative;
      font-size: 12px;
      left: -70px;
      font-weight: 500;
    }
    
}

@media screen and (max-width: 560px) {
    .tlumoceni {
        height: calc(1700px - 100vw);
    }
    .podminky {
        height: calc(1900px - 170vw);
    }
}

@media screen and (max-width: 460px) {
    .tlumoceni {
        height: calc(3000px - 350vw);
    }
    .preklady {
        height: calc(1500px - 180vw);
    }
    .omne {
        height: calc(1500px - 180vw);
    }
}


@media screen and (max-width: 330px) {
    .tlumoceni {
        height: calc(4800px - 900vw);
    }
    .podminky {
        height: calc(3000px - 370vw);
    }
}

@media screen and (max-width: 275px) {
    .preklady {
        height: calc(2200px - 390vw);
    }
    .omne {
        height: calc(1900px - 280vw);
    }
}

@media screen and (max-width: 223px) {
    .podminky {
        height: calc(4000px - 670vw);
    }
}



/* CSS */

.landingtextph {
    color: black;
    font-weight: bold;
    
}
.button-59 {
  display: block;
  

  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #b90101;
  color: #b90101;
  fill: #b90101;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}



@media screen and (max-width: 1918px) {
    .buttonrdrph {
        padding-left: 360px;
    }
}

@media screen and (max-width: 1660px) {
    .buttonrdrph {
        padding-left: 360px;
    }
}

@media screen and (max-width: 1500px) {
    .buttonrdrph {
        padding-left: 310px;
    }
}

@media screen and (max-width: 1355px) {
    .buttonrdrph {
        padding-left: 230px;
    }
}

@media screen and (max-width: 1205px) {
    .buttonrdrph {
        padding-left: 180px;
    }
}

@media screen and (max-width: 1100px) {
    .buttonrdrph {
        padding-left: 150px;
    }

    .button-59 {
        font-size: 16px;
  font-weight: 600;
  height: 45px;
  min-width: 120px;
    }
}

@media screen and (max-width: 1019px) {
    .buttonrdrph {
        padding-left: 120px;
    }
}

@media screen and (max-width: 960px) {
    .buttonrdrphph {
        position: relative;
        left: -60px;
    }
}