@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.phonenav {
    position: fixed;
  
    width: 100%;
    padding: 15px 100px;
    background: #910000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  .phonenav,
  .phonenav .phonenav-links {
    display: flex;
    align-items: center;
  }
  .phonenav {
    justify-content: space-between;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .phonenav .logo {
      position: relative;
    font-size: 20px;
    left: -40px;
    font-weight: 500;
  }
  .phonenav .phonenav-links {
    column-gap: 10px;
    list-style: none;
  }
  .phonenav .phonenav-links a {
    transition: all 0.2s linear;
  }
  .phonenav.openSearch .phonenav-links a {
    opacity: 0;
    pointer-events: none;
  }
  .phonenav .search-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .lang {
      font-size: 120%;
  }

.phonenav {
    visibility: hidden;
}

  /* phone */
@media screen and (max-width: 1000px) {
    .phonenav {
        visibility: visible;
    } 
    
    .landing {
    text-align: center;
    position: relative;
    background-color: rgb(247, 247, 247);
    
    width: 100%;

    height: calc(1000px - 15vw)
    
    }

    .buttonrdr{
        position: relative;
        padding-top: 25px;
        left: calc(0px - 18vw);
    }

    .lefttext {

    position: absolute;
    padding-left: 0px;
    
    top: 140px;
    padding-left: 50px;

    margin-left: auto;
    margin-right: auto;
    color: black;
    white-space: initial;
    width: 90%;
    z-index: 0;
    
    
    }
    .landingtext{
        font-size: 35px;
    }

    .bgimg {
        display: block;
        position: relative;
        top: calc(500px - 15vw);
        z-index: 0;
        margin-left: auto;
        margin-right: auto;
        left: -0px;

    }
    .nav {
        visibility: hidden;
    }
}



@media screen and (max-width: 481px) {
    .bgimg {
        display: block;
        position: relative;
        top: calc(550px - 15vw);
        z-index: 0;
        margin-left: auto;
        margin-right: auto;
        left: -0px;

    }
}

@media screen and (max-width: 400px) {
    .bgimg {
        display: block;
        position: relative;
        top: calc(550px - 15vw);
        z-index: 0;
        margin-left: auto;
        margin-right: auto;
        left: -0px;
        width: 100vw;   
    }

    .lefttext {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        font-size: 35px;
        top: calc(100px);
        left: -7px;
        color: black;
        white-space: initial;
        width: 90%;
        z-index: 1;
        align-items: center;
        }

    .buttonrdr{
        position: relative;
        padding-top: 1px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 950px) {
    .omne {
        height: calc(900px - 22vw);
    }
    .omneimg {
        width: 70%;
    }
    .denikcz{
        position: relative;
        left: 10%;
        width: 80vw;
    }
}

@media screen and (max-width: 825px) {
    .tlumoceni {
        height: calc(1500px - 80vw);
    }
    .preklady {
        height: calc(1000px - 70vw);
    }
    .podminky {
        height: calc(1200px - 70vw);
    }
}

@media screen and (max-width: 755px) {
    .kontaktytelblock {
        top: -10px;
        right: -130px;
    }
    .kontaktymailblock{
        top: -14px;
        right: calc(-190px + 30vw);
    }

    .kontaktyaddyblock {
        right: 6vw;
    }
    
}

@media screen and (max-width: 500px) {
    .kontaktytelblock {
        top: -10px;
        right: -100px;
    }
    .kontaktymailblock{
        top: -14px;
        right: calc(-160px + 30vw);
    }

    .kontaktyaddyblock {
        right: 4vw;
    }

    .phonenav .logo {
        position: relative;
      font-size: 17px;
      left: -50px;
      font-weight: 500;
    }
    
}

@media screen and (max-width: 395px) {
    .kontaktytelblock {
        top: 60px;
        right: 10px;
    }
    .kontaktymailblock{
        top: 54px;
        right: calc(-60px + 30vw);
    }

    .kontaktyaddyblock {
        display: table;
        padding-left: 12vw;
        position: relative;
        padding-top: calc(1rem + 2vh + 2vw);;
        width: 70%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    
    .phonenav .logo {
        position: relative;
      font-size: 12px;
      left: -70px;
      font-weight: 500;
    }
    
}

@media screen and (max-width: 560px) {
    .tlumoceni {
        height: calc(1700px - 100vw);
    }
    .podminky {
        height: calc(1900px - 170vw);
    }
}

@media screen and (max-width: 460px) {
    .tlumoceni {
        height: calc(3000px - 350vw);
    }
    .preklady {
        height: calc(1500px - 180vw);
    }
    .omne {
        height: calc(1500px - 180vw);
    }
}


@media screen and (max-width: 330px) {
    .tlumoceni {
        height: calc(4800px - 900vw);
    }
    .podminky {
        height: calc(3000px - 370vw);
    }
}

@media screen and (max-width: 275px) {
    .preklady {
        height: calc(2200px - 390vw);
    }
    .omne {
        height: calc(1900px - 280vw);
    }
}

@media screen and (max-width: 223px) {
    .podminky {
        height: calc(4000px - 670vw);
    }
}



/* CSS */

.landingtextph {
    color: black;
    font-weight: bold;
    
}


@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}





@media screen and (max-width: 1100px) {
    .buttonrdrph {
        padding-left: 150px;
    }

    .button-59 {
        font-size: 16px;
  font-weight: 600;
  height: 45px;
  min-width: 120px;
    }
}



