html, body {
    background-color: rgb(247, 247, 247);
    max-width: 100%;
    overflow-x: hidden;
}

.bgimg {
    width: 45vh;
    opacity: 1;
    z-index: 1;
    left: 100px;
    position: relative;
    top:16vh;
}

.landing{
    position: relative;
    background-color: rgb(247, 247, 247);
    
    width: 100%;
    height: 100vh;
    float:right;
    
}

.lbgimg {
    position: fixed;
    width: 10%;
    height: 100%;
    top: -20px;
    filter: blur(8px);
  
}


.lefttext {
    position: relative;
    
    height: 1000px;
    top: -32vh;
    padding-left: 33vw;
    color: #910000;
    width: 95vmax;
    z-index: 1;
    align-items: right;
    

}

.landingtext {
    color: #910000;
    font-weight: bold;
    font-size: 3.5vh;

    
}

@media screen and (max-width: 170vh) {
    
    .lefttext {
        position: relative;
        
        height: 1000px;
        top: -32vh;
        padding-left: 63vh;
        color: black;
        width: 95vmax;
        z-index: 1;
        align-items: right;
        
    
    }
    .buttonrdr{
        position: relative;
        padding-left: -50px;
    }
}



/* phone */
@media screen and (max-width: 960px) {
    
    .buttonrdr{
        position: relative;
        left: -100px;
    }

    .nav{
        visibility: hidden;
    }
}



.bttm {
    background-color: rgb(243, 243, 243);
    position: relative;
    top: 87vh;
    font-size: 12px;
    white-space: initial;
    height: 124px;
    clear:both;   
    color: rgb(48, 48, 48);

}

.textsadd {
    float:left;
}

.btcontacts {

    float:left;
}

.info a {
    position: relative;
    color: rgb(48, 48, 48);
    padding-left: 15vw;
}

.btlg {
    width: 60px;
    position: absolute;
    left: 15vw;
    top: 20px;
}




.info {
    position: relative;
    left: 10vw;
    top: 7px;
}

.language {
    position: relative;
    font-size: calc(.5em + 0.5vw);
    left: 30px;
}

html::-webkit-scrollbar {
    width: 10px;
  }

  html::-webkit-scrollbar-track {
    background: white;
    
  }
   
  html::-webkit-scrollbar-thumb {
    background: #910000;
  }